*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
header{
    display:flex;
    height: 60px;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
    box-shadow: 0 0 2px 2px rgba(235, 230, 230, 0.584);

}
#part{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#fist{
    padding:  0px 20px;
}
 nav a{
    padding: 18px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    transition: 400ms;
    color:green;
    
}
#rag{
     border: 2px  solid black;
     background-color: transparent;
     border-radius: 10px;
     padding: 6px 12px;
     
}
#main{
    height: 580px;;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 80px;
 
      /* background-color: red; */
}
#m1{
    height: 500px;
    width: 40%;
    /* background-color: antiquewhite; */
    margin-left: 60px;
    margin-top: 40px;
}
aside{
    margin-top: -100px;
    height: 450px;
    width: 30%;
    /* background-image: url("images/image-hero-desktop.png"); */
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
h1{
    font-size:4rem;
     
}
#learn{
    line-height: 6rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: black;
    padding: 10px 18px;
    border-radius: 10px;
}
P{
    color: gray;
    font-size:18px;
}
footer{
    margin-left:180px;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    margin-top: -150px;
}
span{
    padding: 10px;
}
#learn:hover{
    padding: 10px 24px 10px 18px; 
    transition: 400ms ease;
}